*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:  rgb(32, 188, 252);
}
.container{
    background: white;
    width: 100%;
    height: 60px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 100px;
}

.logo{
    font-size: 2.875rem;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #153628;
}

.nav ul{
    display: flex;   
   
}
.nav ul li{
    list-style: none;
    margin-right: 20px;    
}

.nav ul li a{
    text-decoration: none;
    font-size: 1.0.25em;
    font-family: sans-serif;
    font-weight: 700;
    color: #4ADE33;
}
.login button{
    background: #FAE053;
    border-radius: 25px;
    width: 60px;
    outline: none;
}
